.App {
  text-align: center;
  color: #006A71;
  background-color: #FFFFDD;
  border-radius: 10px;
}


.App-footer {
  color: #D3DE32;
  font-size: 11px;
  margin: 10 px 0;
}

.source-link {
  color: #CBEAED;
}

h1 {
  padding-top: 10px;
}